<form action="/add" method="POST">
    <label>Titulo</label>
    <input type="text" name="titulo">
    <label>Conteudo</label>
    <input type="text" name="conteudo">
    <button type="submit">ENVIAR</button>
</form>